# venv
.venv/

# Ruff
.ruff_cache/

# Logs
logs/

# Pycache
valutatrade_hub/__pycache__
valutatrade_hub/core/__pycache__
valutatrade_hub/infra/__pycache__
valutatrade_hub/cli/__pycache__
valutatrade_hub/parser_service/__pycache__

# dist
dist/